* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fruitCard {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    padding: 20px;
}

form {
    width: 600px;
}

fieldset {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    /*text-align: start;*/
}

